<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <p>VP Authorization Request QR code</p>
    <img src="<%= qrCodeData %>" alt="QR Code">
</body>

</html>